.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8rem 2rem;
  margin: 0 auto;
  max-width: 50rem;
}

.headerTitle {
  color: var(--color-title);
  font-weight: 900;
  font-size: 3rem;
  width: 100%;
}

.page {
  flex: 1;
}
