.formContainer {
  margin-top: 5rem;
}

.formContainer > * {
  margin-top: 2rem;
}

.inputContainer > * {
  width: 100%;
  margin-top: .5rem;
  /* composition doesn't work with '.class > *' */
  color: var(--color-title);
  opacity: .8;
}

.title {
  composes: primaryText from 'src/global.css';
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.subTitle {
  composes: secondaryText from 'src/global.css';
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 2rem;
  text-align: center;
}
